.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cellBorderTop {
  border-top: 1px solid #E8E9EB;
}

.cellBorderLeft {
  border-left: 1px solid #E8E9EB;
}

.cellBorderBottom {
  border-bottom: 1px solid #E8E9EB;
}

.cellBorderRight {
  border-right: 1px solid #E8E9EB;
}

.cellBorderBottomDashed {
  border-bottom: 1px dashed #E8E9EB ;
}

.cellBorderTopDashed {
  border-top: 1px dashed #E8E9EB ;
}

.calendarHeaderCell {
  width: 100%;
  height: 60px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-overflow:clip;
  overflow: hidden;
}

.cell {
  width: 100%;
  height: 30px;
}

.cellHourText {
  font-size: 12px;
}

.calendarContainer {
  padding: 20px;
}

.calendarViewContainer {
  border-bottom: 1px solid #E8E9EB;
  border-right: 1px solid #E8E9EB;
}

.calendarViewTop {
  overflow-x: hidden;
  padding-right: 17px;
  border-top: 1px solid #E8E9EB;
}

.calendarViewBody {
  max-height: calc(100vh - 235px);
  overflow-y: scroll;
  overflow-x: hidden;
}